/* purgecss start ignore */
article >>> {
  font-family: "Lora", "Noto Serif SC", serif;
  a {
    @apply underline text-teal-500;
  }
  & > * {
    margin: 1.1em auto;
  }


  .CodeMirror

  h2 {
    margin-top: 42px;
    font-size: 1.5em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1em;
    font-weight: 600;
  }

  h6 {
    font-size: 1em;
    font-weight: 600;
    color: #555;
  }

  p,span {
    font-size: 1rem !important;
    line-height: 1.8 !important;
  }

  img {
    max-width: 100% !important;
  }

  ol,
  ul {
    list-style-position: inside;
    line-height: 1.8;
  }
  code {
    padding: 0.3em 0.1em;
  }
  .CodeMirror {
    overflow-x: auto;
  }
}
/* purgecss end ignore */